.header_section {
  max-width: 1180px;
  margin:0 auto; 
  height: 66px;
  
}

.main_logo {
    width: 160px;
    height: 48px;
    padding-right: 40px;
    float: left;
    cursor: pointer;
}

ul {
    list-style:none;
}

ul li a {
    padding: 10px 20px;
    border : 0;
    float: left;
    cursor: pointer;
    color: #a0a0a0;
    text-decoration: none;
    line-height: 46px;
    vertical-align: middle;
}

a:hover{
    color: #000;
}
