body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Avenir, 'Lato', '나눔바른고딕', NanumBarunGothic,
    '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '나눔고딕', NanumGothic,
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
button,
table {
  font-family: Avenir, 'Lato', '나눔바른고딕', NanumBarunGothic,
    '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '나눔고딕', NanumGothic,
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, AppleGothic, sans-serif;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.description {
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 150px;
  vertical-align: middle;
  height: 150px;
}

.description p {
  height: 150px;
  text-align: center;
  margin: 1px;
}

.description .title {
  font-size: 26px;
}

.description .divide {
  margin: 0 20px;
  font-size: 20px;
  border-left: 1px solid white;
  opacity: 0.2;
}

.description .desc {
  font-size: 17px;
}

.scroll_top {
  position: fixed;
  right: 380px;
  bottom: 20px;
  color: #a5a5a5;
  cursor: pointer;
}

.scroll_top:hover {
  color: black;
}

.clear {
  clear: both;
}

#root {
  overflow: hidden;
}
