body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Avenir, 'Lato', '나눔바른고딕', NanumBarunGothic,
    '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '나눔고딕', NanumGothic,
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, AppleGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
button,
table {
  font-family: Avenir, 'Lato', '나눔바른고딕', NanumBarunGothic,
    '애플 SD 산돌고딕 Neo', 'Apple SD Gothic Neo', '나눔고딕', NanumGothic,
    '맑은 고딕', 'Malgun Gothic', '돋움', dotum, AppleGothic, sans-serif;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .title {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 14px;
}

.preview {
  font-size: 14px;
  overflow: hidden;
  max-height: 39px;
  margin-bottom: 15px;
}

.info {
    color: #b5b5b5;
}

.post_date {
  padding-left: 5px;
  display: inline-block;
  font-size: 12px;
  color: #b5b5b5;
}

.view_count {
  padding-left: 5px;
  display: inline-block;
  font-size: 12px;
  color: #b5b5b5;
}

.delimeter {
  margin: 0 5px;
  color: #eaeaea;
}

.pre_img {
  float: left;
  position: absolute;
  top: 0;
  right: 0px;
}

.description {
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 150px;
  vertical-align: middle;
}

.description p 
{
  height: 150px;
}

.description .title {
  font-size: 26px;
}

.description .divide {
  margin: 0 20px;
  font-size: 20px;
  border-left: 1px solid white;
  opacity: 0.2;
}

.description .desc {
  font-size: 17px;
}
*/
