.header_section {
  max-width: 1200px;
  margin:0 auto; 
  height: 66px;
  font-family: Avenir,'Lato',"애플 SD 산돌고딕 Neo","Apple SD Gothic Neo","나눔바른고딕",NanumBarunGothic,"나눔고딕",NanumGothic,"맑은 고딕","Malgun Gothic","돋움",dotum,AppleGothic,sans-serif;
}

.main_logo {
    width: 160px;
    height: 48px;
    padding-right: 20px;
    float: left;
    cursor: pointer;
}

ul {
    list-style:none;
}

ul li a {
    padding: 10px 15px;
    border : 0;
    float: left;
    cursor: pointer;
    color: #a0a0a0;
    text-decoration: none;
    line-height: 46px;
    vertical-align: middle;
}

a:hover{
    color: #000;
}

.search_txt {
    border: 1px solid #a0a0a0;
    margin: 15px 0px 25px 150px;
    width: 230px;
    height: 32px;
    vertical-align: middle;
    float: left;
    padding-left: 10px;
}

.search {
    width:36px;
    height:36px;
    margin-top: 10px;
}

.searchBox {
    height:36px;
    max-height:36px;
    float: left;
    margin-top: 15px;
}

.searchBtn {
    height:36px;
    background: url( "/images/top_search.png" ) no-repeat center;
    width: 36px;
    border: none;
    border-left: 1px solid #E7E7E7;
    margin-left: 20px;
}