
.main_banner_wrap {
    width: 100%;
    position: relative;
}

.main_banner_l_arrow {
    width: 30px;
    height: 350px;
    left: 18px;
    background: url('/images/m_arrow.png') no-repeat center;
    background-position: 0px center;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    
}

.main_banner_r_arrow {
    width: 30px;
    height: 350px;
    right: 18px;
    background: url('/images/m_arrow.png') no-repeat center;
    background-position: -70px center;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    top: 10px;
    bottom: 0;
}

.arrow:hover {
    opacity: 1;
}

.banner_navi {
    position: absolute;
    width: 50%;
    bottom: 20px;
    left: 47%;
}

.circle {
    background-color: white;
    width:14px;
    height:14px;
    border-radius: 7px;
    border: none;
    color: transparent;
    opacity: 0.3;
    margin-right: 16px;
}

.circle:hover {
    opacity: 1;
}

.main_content_wrapper {
    padding-left: 25%;
    max-width: 1100px;
}

.article {
    float: left;
}

.content_container {
    height: 150px;
    position: relative;
    margin-top: 50px;    
}

.text_section{
    max-width: 640px;
    float: left;
}

.left_section{
    width: 820px;
    height: 150px;
    border-bottom: 1px solid #ededed;
}

.right_section{
    max-width: 250px;
    float: left;
}

.sidebar {
    width: 250px;
    height: 532px;
    float: left;
    background-color: burlywood;
    margin-top: 50px;
    margin-left: 30px;
}

.footer {
    height: 160px;
    width: 100%;
    background-color: #f9f9f9;
    clear: both;
}

.footer .other_site {
    width: 1180px;
    height: 110px;
    line-height: 110px;
    margin: 0 auto;
    vertical-align: middle;
}

.other_site .link {
    padding: 10px 0px 0px 70px;
}

.other_site .link li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.other_site .link .divide {
    padding-left: 200px;
}

.other_site .link .etc {
    display: inline-block;
    padding-bottom: 5px;
    cursor: pointer;
}

.footer .copy_right {
    border-top: 1px solid #efefef;
    width: 1180px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}