
.main_banner_wrap {
    width: 100%;
    position: relative;
}

.main_banner {
    width: 100%;
    height: 400px;
    line-height: 400px;
    background: url('/images/banner1.png') no-repeat center;
    
}

.main_banner_l_arrow {
    width: 30px;
    height: 370px;
    left: 18px;
    background: url('/images/m_arrow.png') no-repeat center;
    background-position: 0px center;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    
}

.main_banner_r_arrow {
    width: 30px;
    height: 370px;
    right: 18px;
    background: url('/images/m_arrow.png') no-repeat center;
    background-position: -70px center;
    position: absolute;
    opacity: 0.6;
    cursor: pointer;
    top: 0;
    bottom: 0;
}

.arrow:hover {
    opacity: 1;
}

.banner_navi {
    position: absolute;
    width: 50%;
    bottom: 20px;
    left: 47%;
}

.circle {
    background-color: white;
    width:14px;
    height:14px;
    border-radius: 7px;
    border: none;
    color: transparent;
    opacity: 0.3;
    margin-right: 16px;
}

.circle:hover {
    opacity: 1;
}

.slide ul{width:calc(100% * 4);display:flex;animation:slide 8s infinite;} 
.slide li{width:calc(100% / 4);height:400px;}
.slide li:nth-child(1){background: url('/images/banner1.png') no-repeat center;}
.slide li:nth-child(2){background: url('/images/banner2.png') no-repeat center;}
.slide li:nth-child(3){background: url('/images/banner3.png') no-repeat center;}
.slide li:nth-child(4){background: url('/images/banner4.png') no-repeat center;}
/*
@keyframes slide {
    0% {margin-left:20;} 
    50% {margin-left:200px; background: url('/images/banner2.png') no-repeat center;}
    100% {margin-left:0;}
}
*/

@keyframes slide {
    0% {margin-left:20;} 
    10% {margin-left:0;} 
    25% {margin-left:-100%;}
    35% {margin-left:-100%;}
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    75% {margin-left:-300%;}
    85% {margin-left:-300%;}
    100% {margin-left:0;}
}

.content_container {
    max-width: 1100px;
    height: 150px;
    position: relative;
    margin-top: 50px;
    margin-left: 400px;
    
}

.text_section{
    max-width: 640px;
    float: left;
}

.left_section{
    width: 820px;
    height: 150px;
    border-bottom: 1px solid #ededed;
}

.right_section{
    max-width: 250px;
    float: left;
}

.sidebar {
    width: 250px;
    height: 532px;
    float: left;
    background-color: burlywood;
    margin-top: 50px;
    margin-left: 30px;
}

.content_wrapper {
    float: left;
}

.footer {
    height: 160px;
    width: 100%;
    background-color: #f9f9f9;
    clear: both;
}

.footer .other_site {
    width: 1180px;
    height: 110px;
    line-height: 110px;
    margin: 0 auto;
    vertical-align: middle;
}

.other_site .link{
    padding: 10px;
}

.other_site .link li{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.footer .copy_right {
    width: 1180px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}