.keyword_area {
    width: 100%;
    margin:0 auto;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    background-color: #f7f7f7;
    height: 112px;
}

.keyword {
    width: 1100px;
    height: 112px;
    line-height: 112px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    padding-left: 250px;
}

.keyword .text {
    color: #23c382;
}